:root {
    --background-color: #5c5c5c;
    --primary-color: #242424;
    --secondary-color: #FCFFFD;
    --accent-color: #CD5334;
    --font-family: Arbutus Slab, Roboto, Inter;
    --font-color: #242424;
    
}

html,
body {
    margin: 0px;
    font-family: var(--font-family);
    /* background-color: var(--primary-color); */
    background: var(--background-gradient);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {

}

/* Breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}