html,
body {
    margin: 0px;
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    /* Color Palette */
    --neutral-color: #5c5c5c;
    --dark-color: #242424;
    --light-color: #FCFFFD;
    --secondary-color: #3F426B;
    --secondary-color-dark: #2c2e4b;
    --accent-color: #CD5334;
    --accent-color-dark: #A54229;

    /* Typography */
    --font-family: Arbutus Slab, Roboto, Inter;
    --font-color-light: #FCFFFD;
    --font-color-dark: #242424;

    /* Spacing */
    --space-closest: 4px;
    --space-close: 8px;
    --space-standard: 12px;
    --space-related: 16px;
    --space-unrelated: 24px;
    --space-far: 32px;
    --space-farthest: 64px;
    --max-width: 1200px;
    
}

/* Dark theme */
@media (prefers-color-scheme: dark) {

}

/* Breakpoints */
.xs, .small, .med, .large, .xl {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .xs { display: initial; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .small { display: initial; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .med { display: initial; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .large { display: initial; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .xl { display: initial; }
    :root {
        --space-farthest: 128px;
    }
}