.page_container > p {
    max-width: 300px;
    font-size: smaller;
    margin-block: var(--space-close);
}

.page_container > h2 {
    text-align: center;
    margin-block: var(--space-close);
}

.page_background {
    background: radial-gradient(var(--primary-color) 70%, var(--accent-color) 100%);;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_container {
    display: flex;
    background-color: var(--secondary-color);
    flex-direction: column;
    padding-block: var(--space-far);
    padding-inline: var(--space-far);
    border-radius: 8px;
    box-shadow: 2px 2px 5px var(--accent-color);
}

.page_container:hover {
    box-shadow: 4px 4px 8px var(--accent-color);
}

.page_container > label {
    margin-block: var(--space-close);
}

.page_container > input {
    min-height: 26px;
    min-width: 200px;
    margin-block-end: var(--space-standard);
}

.page_button {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding-block: var(--space-standard);
    padding-inline: var(--space-far);
    border: 2px solid var(--secondary-color);
}

.page_button:hover {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: 2px solid var(--accent-color);
}

.return_button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--secondary-color);
    font-weight: bold;
}

.return_button:hover {
    color: var(--accent-color);
}