.banner_container {
    --minimum-height: 600px;

    display: flex;
    min-height: var(--minimum-height);
    background-image: url("https://picsum.photos/id/684/600/400"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.banner_sidepanel {
    position: relative;
    min-height: var(--minimum-height);;
    width: 30%;
    background-color: darkgreen;
    padding-inline: 3rem;
    padding-block: 1.5rem;
    overflow: hidden;
}

.banner_sidepanel > h2,
.banner_sidepanel > p {
    color: white;
    
}

.banner_sidepanel > h2 {
    font-size: 4rem;
}

.banner_sidepanel > p {
    line-height: 1.5rem;
}