.banner_container {
    overflow: hidden;
    height: 600px;
}

.banner_container::after {
    content: '';
    position: absolute;
    top: 600px;
    left: 0;
    width: 100px;
    height: 20px;
    z-index: 1;
    background-color: var(--primary-color);
}

.banner_sidepanel {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-left: var(--space-far);
    overflow: hidden;
    
}

.banner_sidepanel > h2,
.banner_sidepanel > p {
    position: relative;
    max-width: 400px;
    color: var(--light-color);
}

.banner_sidepanel > h2 {
    font-size: 2rem;
    font-weight: bold;
}

.banner_sidepanel > p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.banner_button {
    background-color: var(--accent-color);
    color: var(--light-color);
    padding-inline: var(--space-related);
    padding-block: var(--space-standard);
    margin-block-start: var(--space-unrelated);
    border: 0px;
    border-radius: 6px;
    font-size: 1.2rem;
}

.banner_button:hover {
    background-color: var(--font-color);
}

/* Breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .banner_sidepanel { 
        max-width: 40%;
        left: -40%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}