
.button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding-inline: 24px;
    padding-block: 8px;
    margin-inline: 16px;
    border: 0px;
    border-radius: 6px;
    font-size: 1.2rem;
    border: 2px solid var(--font-color);
}

.button:hover {
    background-color: var(--font-color);
}

