
.button {
    background-color: #242424;
    color: white;
    font-weight: bold;
    padding-inline: 2em;
    padding-block: 1em;
    margin-inline: 0.2rem;
    border: 1px solid;
    border-radius: 6px;
}

.button:hover {
    background-color: darkblue;
}

