
.button {
    background-color: var(--accent-color);
    text-align: center;
    color: var(--secondary-color);
    padding-inline: var(--space-related);
    padding-block: var(--space-close);
    margin-inline: auto;
    border-radius: 6px;
    border: 2px solid var(--font-color);
}

.button:hover {
    background-color: var(--secondary-color);
}

