.card_container {
    display: flex;
    width: fit-content;
    padding-inline: 32px;
    padding-block: 24px;
    border: 1px solid var(--background-color);
    border-radius: 12px;
    box-shadow: 2px 2px 2px var(--background-color);
    margin-inline: auto;
    margin-block: 12px;
    transition: transform 0.3s 0.1s;
}

.card_container:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    
}