.card_container {
    
    position: relative;
    width: fit-content;
    padding-inline: var(--space-far);
    padding-block: var(--space-unrelated);
    margin-inline: var(--space-standard);;
    margin-block: var(--space-standard);
    border: 1px solid var(--dark-color);
    border-radius: 12px;
    transition: transform 0.1s;
}

.card_container:hover {
    
    transform: scale(1.1, 1.1);
    color: var(--light-color);
    background-color: var(--dark-color);
    
}

.card_container::after,
.card_container::before {
    content: '';
    position: absolute;
    left: 15%;
    background-color: var(--dark-color);
    height: 6px;
    width: 15%;
    border-radius: 12px;
    transition: width 0.1s
}

.card_container:hover::after,
.card_container:hover::before {
    background-color: var(--light-color);
    width: 70%;
}

.card_container::before {
    top: -3px;
}

.card_container::after {
    bottom: -3px;
}

.card_container > h3,
.card_container > p {
    text-align: left;
}

.card_container > h3 {
    font-size: 2rem;
    margin-block: var(--space-related);
}

.card_container > p {
    font-weight: lighter;
    font-size: 0.8rem;
}

.card_icon_container {
    margin-inline: auto;
}

.card_button {
    border-radius: 4px;
    margin-block: var(--space-standard);
    padding-inline: var(--space-related);
    padding-block: var(--space-close);
    background-color: inherit;
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}

.card_container:hover > .card_button {
    cursor: pointer;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--light-color);
}