.grid_container {
    display: grid;
    gap: var(--space-related);
    grid-template-columns: fit-content(100%);
}


/* Breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid_container {
        grid-template-columns: repeat(2, fit-content(100%));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid_container {
        grid-template-columns: repeat(3, fit-content(100%));
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}