.form_container {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(90deg, var(--primary-color) 40%, var(--accent-color) 100%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 35%;
    min-height: 100vh;
    border-radius: 0px 12px 12px 0px;
    padding-block: 16px;
    padding-inline: 32px;
    background-color: var(--primary-color);
}

.form_oauth {
    display: block;
    margin-block-start: 16px;
}

.form_oauth > .form_button {
    margin-block-start: 8px;
}

.form > h2,
.form > p  {
    text-align: left;
    margin-block: 0;
    color: var(--secondary-color);
    font-weight: bold;
}

.form_fieldset {
    border-radius: 12px;
    margin-block: 16px;
}

.form_fieldset > div {
    margin-block: 4px;
    border-radius: 12px;
    padding: 12px;
}

.form_label {
    color: var(--secondary-color);
}

.form_forgot_button {
    color: var(--secondary-color);
    margin-left: auto;
}

.form_legend {
    padding: 6px;
    color: var(--secondary-color);
}

.form_fieldset > div > input {
    width: 100%;
    height: 1.5rem;
    margin-block: 8px;
    border-radius: 6px;
    border: 0px;
    padding: 6px;
}

.form_button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-weight: bold;
    display: block;
    width: 100%;
    margin-block-start: 24px;
    margin-inline: auto;
    padding-block: 8px;
    padding-inline: 16px;
    border: 0px;
    border-radius: 8px;
}

.form_button:hover {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-weight: bold;
    border: 0px;
    border-radius: 8px;
}

.register_button {
    color: var(--secondary-color);
    margin-inline: auto;
    margin-block: 12px;
    text-align: center;
}

.small_print {
    color: var(--secondary-color);
    margin-block-start: 24px;
    font-size: 0.7rem;
} 

.aside {
    width: 60%;
    padding: 64px;
}

.side_content {
    margin-left: auto;
    max-width: 50%;
    color: var(--secondary-color);
    gap: 24px;
    margin-top: 20%;
}