.navigator {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    font-size: 1.5rem;
}

.navigation_logo {
    display: initial;
}

.navigation_nav {
    margin-right: auto;
}

.navigation_nav > div {
    font-size: 1.2rem;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.navigation_nav > div:hover {
    color: var(--font-color);
    border-bottom: 2px solid var(--font-color);
    cursor: pointer;
}

.navigation_buttons {
    display: inherit;
    padding: 8px;
}

.navigation_search {
    display: inherit;
    margin-inline: auto;
    justify-content: center;
}

.navigation_options {
    display: inherit;
    margin-left: auto;
    color: var(--accent-color);
    gap: 0.5rem;
}

.navigation_options > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_options > div:hover {
    color: var(--font-color);
    cursor: pointer;
}

.navigation_login {
    display: inherit;
  
}

/* Breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
