.navigator {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
    background-color: var(--primary-color);
}

.navigation_logo {
    display: inherit;
}

.navigation_nav {
    display: flex;
    gap: 32px;
    margin-inline: 32px;
    padding-left: 12px;
    color: var(--secondary-color);
    
}

.navigation_nav > div {
    border-bottom: 2px solid var(--primary-color);
}

.navigation_nav > div:hover {
    color: var(--font-color);
    border-bottom: 2px solid var(--font-color);
    cursor: pointer;
}

.navigation_buttons {
    display: inherit;
    padding: 8px;
}

.navigation_search {
    display: inherit;
    justify-content: center;
    margin-inline: auto;
    width: 40%;
}

.navigation_options {
    display: inherit;
    color: var(--secondary-color);
    gap: 0.5rem;
}

.navigation_options > div {
    display: flex;
    align-items: center;
    margin-inline-end: 12px;
}

.navigation_options > div:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.navigation_login {
    display: inherit;
    padding: 12px;
}
