
.bar {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    height: 44px;
    width: 100%;
    padding-inline: 12px;
    border: 1px inset var(--font-color);
    border-radius: 2rem;
}

.bar > p {
    color: var(--font-color);
}

.bar > input {
    width: 100%;
    height: 60%;
    text-indent: 12px;
    border: none;
}