.section_container {
    padding: var(--space-farthest);
}

.section_container > h5, 
.section_container > h1 {
    text-align: center;
    margin-block: var(--space-closest);
    margin-inline: var(--space-far);
}

.section_container > h5 {
    font-weight: lighter;
}

.section_content {
    margin-block: var(--space-far);
    margin-inline: auto;
    text-align: center;
    display: flex;
    max-width: var(--max-width);
}