.section_container {
    padding-block: var(--space-farthest);
    
}

.section_container > h5, 
.section_container > h1 {
    text-align: center;
    margin-block: var(--space-closest);
    margin-inline: var(--space-far);
}

.section_container > h5 {
    font-weight: lighter;
}

.section_content {
    margin: var(--space-far);
    text-align: center;
    display: flex;
}